BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
SortIncludes: false
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
Standard: c++17
